@model IEnumerable<AppMovie.Models.Location>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Localidad</title>
</head>
<body>
<p>
    <a asp-action="Create" class="btn boton4">Crear Nuevo</a>
</p>
<table class="table fondotabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Countries.CountryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LocationID" class="btn botonE">Editar</a> |
                @* <a asp-action="Details" asp-route-id="@item.LocationID">Detalles</a> | *@
                <a onclick="eliminarLocalidad(@item.LocationID);" class="btn botonEl">Eliminar</a>
            </td>
        </tr>

        <script>function eliminarLocalidad(id) {
                        console.log(id);
                        var eliminar = confirm("Está seguro de eliminar esta seccion?");
                        if (eliminar) {
                            location.href = "../../Locations/DeleteConfirmed/" + id;
                        }
                    }
                </script>
}
    </tbody>
</table>
</body>
</html>
