@model IEnumerable<AppMovie.Models.Producer>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Productora</title>
</head>

<body>
    <p>
        <a asp-action="Create" class="btn boton4">Crear Nuevo</a>
    </p>
    <table class="table fondotabla">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProducerName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProducerName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProducerID" class="btn botonE">Editar</a> |
                        @* <a asp-action="Details" asp-route-id="@item.ProducerID">Detalles</a> | *@
                        <a onclick="eliminarProductora(@item.ProducerID);" class="btn botonEl">Eliminar</a>
                    </td>
                </tr>

                <script>function eliminarProductora(id) {
                        console.log(id);
                        var eliminar = confirm("Está seguro de eliminar esta seccion?");
                        if (eliminar) {
                            location.href = "../../Producers/DeleteConfirmed/" + id;
                        }
                    }
                </script>
            }

        </tbody>
    </table>
</body>

</html>
